@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid front">
    <div class="center-content">
        <div class="circular-image">
            <img src="~/Assets/Images/profile_pic.jpg" />
        </div>
        <p>Stuff</p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        @* about me *@
        <div class="col-xs-12 col-md-6">
             @* 3 circle Pictures here *@ 
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>Meet Shaun Cassidy Calagos.</h2>
            <p>A full-stack web developer, an Android developer, and your graphic designer.
            <br />Currently taking Information Systems at DLSU - Science and Technology Complex, in Biñan, Laguna</p>
        </div>
    </div>
</div>